<header>
    <nav>
        <a href="/" class="logo"><img src="/img/logo.png" alt="MiRecetario Logo" style="height: 50px;"></a>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/recetas">Recetas</a></li>
            <li class="dropdown">
                <a href="/categorias" class="dropbtn">Categorías <i class="fas fa-chevron-down"></i> </a>
                <div class="dropdown-content">
                    <a href="/categorias/entrantes">Entrantes</a>
                    <a href="/categorias/platos-principales">Platos Principales</a>
                    <a href="/categorias/postres">Postres</a>
                </div>
            </li>
            <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
        <div class="auth">
            <a href="/login">Iniciar Sesión</a>
            <a href="/registro">Registrarse</a>
        </div>
    </nav>
</header>